body {
    background-color: rgb(244, 244, 243);
    padding: 50px;
}

.gallery {
    margin-top: 50px;
    margin-bottom: 50px;
display: flex;
flex-wrap: wrap;
gap: 30px;
}

.photo-card {
    display: flex;
    flex-direction: column;
    width: 450px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
}

.info {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);

}

.info-item {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.photo-container {
 height: 300px;
}

.last-page {
    font-size: 16px;
    color: rgb(142, 22, 22);
}

/* .go-up {
    margin-top: 50px;
} */

button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px;
 
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

button:hover {
  background-color: #f7fafa;
}

button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.search-input {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;

    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    width: 300px;
   
    vertical-align: middle;
}